USE [master]
GO
/****** Object:  Database [PracticaDB]    Script Date: 9/5/2023 15:14:56 ******/
CREATE DATABASE [PracticaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PracticaDB', FILENAME = N'D:\Archivos de Programa\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PracticaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PracticaDB_log', FILENAME = N'D:\Archivos de Programa\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PracticaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PracticaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PracticaDB]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 9/5/2023 15:14:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[DNI] [int] NULL,
	[Pais] [varchar](50) NULL,
	[Genero] [varchar](10) NULL,
	[Edad] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
